@using Chubss

@model List<Chubss.Models.PersonaProducto>

@{
    ViewData["Title"] = "Persona Page";
}

<div class="text-center">
    <input type="hidden" value="" id="txIdentificacion" />
    <section class="content">
        <section class="content-header" style="padding-bottom:5px; padding-top:8px">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-lg-12 col-sm-12 col-md-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">CHUBB</a></li>
                            <li class="breadcrumb-item active">Personas</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <div class="container-fluid">
            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">Personas</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Tipo Identificion</label>
                                <select class="form-control js-example-basic-single" id="txtIdEmpresa">
                                    @foreach (Catalogo item in ViewData["ListaTipoPersona"] as List<Catalogo>)
                                    {
                                        <option value="@item.IdTabla">@item.Descripcion</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Identificacion:</label>
                                <input type="text" class="form-control" id="txtIdentificacion" maxlength="15">
                                <b id="lbIdentificacion"></b>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Nombre del Cliente:</label>
                                <input type="text" class="form-control" id="txtNombreComp" maxlength="100" Onkeypress="return validarLetras(event);">

                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Telefono:</label>
                                <input type="text" class="form-control" id="txtTelefono" maxlength="10" Onkeypress="return validaNumero(event);">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Edad:</label>
                                <input type="text" class="form-control" id="txtEdad" maxlength="10" Onkeypress="return validaNumero(event);">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Producto</label>
                                <select class="form-control js-example-basic-single" id="txtProducto">
                                    @foreach (Producto item in ViewData["ListaProducto"] as List<Producto>)
                                    {
                                        <option value="@item.CodProducto">@item.Descripcion</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Prima:</label>
                                <input type="text" class="form-control" id="txtPrima" maxlength="10" Onkeypress="return validaNumero(event);" />
                            </div>
                        </div>
                    </div>
                    <div class="justify-content-center row">
                        <div class="col-sm-3">
                            <input type="button" id="btnGrabar" class="btn btn-block btn-primary" onclick="inseratrpersonas()" value="Grabar" />
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <div class="card card-success">
                <div class="card-body">
                    <div class="row col-lg-3 col-sm-3 col-md-3">
                        <input type="text" id="TxBuscaPersona" class="form-control" maxlength="15" placeholder="Filtra Identificacion" />
                    </div>
                    <div id="TblPartPerson">

                    </div>
                </div>
            </div>

            <!--Modal Modificacion-->
            <div class="modal fade" id="modal-default">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="card modal-body">
                            <div class="modal-header">
                                <h4 class="modal-title">Insertar Producto</h4>
                                <button type="button" class="close" data-dismiss="modal" onclick="window.location.reload(true)" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row col-lg-12 col-sm-12 col-md-12">
                                    <div class="col-sm-6">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>Producto</label>
                                            <select class="form-control js-example-basic-single" id="txtProductoModal">
                                                @foreach (Producto item in ViewData["ListaProducto"] as List<Producto>)
                                                {
                                                    <option value="@item.CodProducto">@item.Descripcion</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Prima:</label>
                                            <input type="text" class="form-control" id="txtPrimaModal" maxlength="10" Onkeypress="return validaNumero(event);">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer justify-content-between row">
                                <div class="row col-lg-12 col-sm-12 col-md-12">
                                    <input value="Guardar" type="button" class="btn btn-outline-success" onclick="inseratrProductoModal()" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="ModalProductoCons">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="card modal-body">
                            <div class="modal-header">
                                <h4 class="modal-title">Consultar Producto</h4>
                                <button type="button" class="close" data-dismiss="modal" onclick="window.location.reload(true)" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div id="ModalConsltProducto">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="ModalEditarPerson">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="card modal-body">
                            <div class="modal-header">
                                <h4 class="modal-title">Edita Persona</h4>
                                <button type="button" class="close" data-dismiss="modal" onclick="window.location.reload(true)" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row col-lg-12 col-sm-12 col-md-12">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>IdPersona:</label>
                                                <input type="text" class="form-control" id="txtIdPersonaModal" disabled />
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Identificacion:</label>
                                                <input type="text" class="form-control" id="txtIdentificacionModal" maxlength="15" />
                                                <b id="lbIdentificacion"></b>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Nombre del Cliente:</label>
                                                <input type="text" class="form-control" id="txtNombreCompModal" maxlength="100" Onkeypress="return validarLetras(event);" />

                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Telefono:</label>
                                                <input type="text" class="form-control" id="txtTelefonoModal" maxlength="10" Onkeypress="return validaNumero(event);" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Edad:</label>
                                                <input type="text" class="form-control" id="txtEdadModal" maxlength="10" Onkeypress="return validaNumero(event);" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Producto</label>
                                                <select class="form-control js-example-basic-single" id="txtEstadoModal">
                                                    <option value="A">Activo</option>
                                                    <option value="I">Inactivo</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer justify-content-between row">
                                <div class="row col-lg-12 col-sm-12 col-md-12">
                                    <input value="Actualizar" type="button" class="btn btn-outline-success" onclick="EditaPersona()" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

</div>
<script>

</script>